* {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
  font-weight: 300;
  font-size: 3.5rem;
  font-family: 'Francois One', sans-serif;
}

h2, p {
  font-family: 'News Cycle', sans-serif;
}

body {
  background-color: #34495E;
  color: #EDBB99;
  text-align: center;
}

header{
  margin: 15% 0 3% 0;
}

button {
  color: #34495E;
  background-color: #EDBB99;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 12px;
  font-family: 'News Cycle', sans-serif;
  font-size: 1rem;
}

.size-and-color {
  font-size: 80px;
  color: #EDBB99;
  transition: all 3s;
  text-shadow:
       4px 4px 0px white,
       5px 5px 0px rgba(0, 0, 0, 0.2);
}
